.main{
   
    display: flex;
    
    
}
.slides{
    overflow: hidden;
    position: relative;
}
.navigation{
    display: flex;
    position: absolute;
    justify-content: space-between;
    inset:0;
    align-items: center;
    padding: 4px;
}
.buttons{
    padding: 4px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.9;
    color:rgb(32, 31, 31);

    
    

}
.buttons:hover{
    opacity: 1;
    background-color: white;
}